# cmake-opengl-cicd-template - Template repository for CMake OpenGL projects
# Copyright (C) 2025  krajcsozalan
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
name: Test
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  build:
    name: Build
    permissions:
      actions: write
      contents: read
    uses: krajcsozalan/cmake-opengl-cicd-template/.github/workflows/build.yml@main
    with:
      os: ubuntu-latest
      archive-build: true
  test:
    name: Test
    permissions:
      actions: write
      contents: read
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Download build
        uses: actions/download-artifact@v7
        with:
          path: build
      - name: Unarchive build
        run: tar -xf build/build.tar
      - name: Run tests
        run: ctest --test-dir build -O results.txt
      - name: Upload results
        uses: actions/upload-artifact@v6
        with:
          name: Test results
          path: results.txt
